body {
  font-family: $font-main;
  font-size: 16px;
  color: $text;
  background: $white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

// TYPOGRAPHY

h1, h2, h3, h4 {
  color: $black;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

h1 {
  font-size: clamp(0.75rem, 1rem + 2.5vw, 3rem); // 12px → 52px
  line-height: 1.1;
}

h2 {
  font-size: clamp(1.625rem, 1rem + 2.5vw, 2.25rem); // 32px → 56px
  line-height: 1.15;
  text-transform: uppercase;
}

h3 {
  font-size: clamp(1.125rem, 1rem + 1.3vw, 2rem); // 26px → 40px
  line-height: 1.2;
}
.h4 {
  font-size: clamp(1rem, 1rem + .8vw, 1.625rem); // 22px → 32px
  font-weight: 600;
  line-height: 1.25;
}

p {
  font-size: clamp(1rem, .96rem + .15vw, 1.125rem); // 16px → 18px
  line-height: 1.7;
  color: $text;
  margin-top: 1rem;
}

// LINKS

a {
  transition: $transition;

  &:hover {
    color: $orange;
  }
}